# Autotdetected Settings
# AUTODETECTED: The local ip
export CLOUD_MYIP=""

# AUTODETECTED: The new hostname, will be set on installation of controller or compute
export CLOUD_NEWHOSTNAME=""

# AUTODETECTED binary location
export CLOUD_DIALOGBIN=""

# AUTODETECTED: The engine used for virtualisation
export CLOUD_VIRTUALISATION=""


# Manually entered/asked Settings
# Database Password
export CLOUD_DBPASSWORD=""

# The admintoken, will be used to add the first image
export CLOUD_ADMINTOKEN=""

# The IP of the controller, will be used on installation of a compute node
export CLOUD_CONTROLLERIP=""

# The identifier of a compute node
export CLOUD_COMPUTENUMBER=""

# The device for the iscsi target. This device WILL BE ERASED!!!
export CLOUD_ISCSIDISK=""